<%- include('./partials/header') -%> 
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div class="mb-3" >
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" required">
          <div id="usernameText" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="d-grid gap-2">
           <button type="submit" class="btn btn-success">Register</button>
        </div> 
    </form>
<%- include('./partials/footer') -%> 

